<div
  class="jumbotron jumbotron-fluid"
  style="background-image: url(assets/img/jumbotron.jpg); background-size: cover; height: 450px"
>
  <div class="container main">
    <h1 class="display-4 text-white">Movies App</h1>
    <p class="lead text-white">Your favorite Movies in an App!</p>
  </div>
</div>

<div class="container">
  <br />

  <app-gallery [movies]="board" title="Movies"></app-gallery>
  <app-gallery [movies]="populars" title="Popular Movies"></app-gallery>
  <app-gallery
    [movies]="kidsPopulars"
    title="Populars Kids Movies"
  ></app-gallery>
</div>
